<section class='github'>
  <h1>GitHub</h1>
  <h3 class='repos'>Repositories</h3>
  <% search_results.repos.each do |repo| %>
    <ul>
      <section class='repo'>
        <li><%= link_to repo.name, repo.svn_url %></li>
      </section>
    </ul>
  <% end %>
  <h3 class='followers'>Followers</h3>
  <% search_results.followers.each do |follower| %>
    <ul>
      <section class='follower' id='follower-<%= follower.login %>'>
        <li><%= link_to follower.login, follower.html_url %>
        <%= link_to 'Add Friend', "friendships/#{follower.login}", class: 'btn btn-primary mb1 bg-teal' if follower.friendable?(current_user) %></li>
      </section>
    </ul>
  <% end %>
  <h3 class='followings'>Following</h3>
  <% search_results.following.each do |user| %>
    <ul>
      <section class='following' id='following-<%= user.login %>'>
        <li><%= link_to user.login, user.html_url %>
        <%= link_to 'Add Friend', "friendships/#{user.login}", class: 'btn btn-primary mb1 bg-teal' if user.friendable?(current_user) %></li>
      </section>
    </ul>
  <% end %>
</section>
