<section class="dashboard-main">
  <h1> <%= current_user.first_name %>'s Dashboard </h1>

  <%= button_to 'Log Out', logout_path, method: 'delete', class: "btn btn-primary mb1 bg-teal" %>
  <h3>Account Details</h3>
  <ul>
    <li>Name: <%= current_user.first_name  %> <%= current_user.last_name %> </li>
    <li>Email: <%= current_user.email %> </li>
    <% if current_user.active? %>
      <li>Account Status: Active</li>
    <% else %>
      <li>Account Status: Inactive - Please check your email</li>
    <% end %>
  </ul>

    <% if search_results.github_token_valid? %>
      <%= render 'partials/github', search_results: search_results %>
    <% else %>
      <%= link_to 'Connect to GitHub', '/auth/github', method: :get, class: "btn btn-primary mb1 bg-teal" %>
    <% end %>
  <section>
    <h1>Bookmarked Segments</h1>
  </section>
</section>
