<section class="dashboard-main">
  <h1> <%= current_user.first_name %>'s Dashboard </h1>

  <%= button_to 'Log Out', logout_path, method: 'delete', class: "btn btn-primary mb1 bg-teal" %>
  <% if search_results.github_token_valid? %>
    .:.
    <%= button_to 'Send an Invite', github_invite_path, method: :get, class: "btn btn-primary mb1 bg-teal" %>
  <% end %>
  <h3>Account Details</h3>
  <ul>
    <li><b>Name: </b><%= current_user.first_name  %> <%= current_user.last_name %> </li>
    <li><b>Email: </b><%= current_user.email %> </li>
    <% if current_user.active? %>
      <li><b>Account Status: </b>Active</li>
    <% else %>
      <li><b>Account Status: </b>Inactive - Please check your email.</li>
    <% end %>
  </ul>

    <% if search_results.github_token_valid? %>
      <%= render 'partials/github', search_results: search_results %>
    <% else %>
      <%= link_to 'Connect to GitHub', '/auth/github', method: :get, class: "btn btn-primary mb1 bg-teal" %>
    <% end %>

  <section>
    <h1>Bookmarked Segments</h1>
    <% current_user.order_videos.each do |tutorial, video_array| %>
      <section class="tutorial-<%= tutorial.id %>">
        <h3><%= tutorial.title %></h3>
          <% video_array.each_with_index do |video, index| %>
            <section class="video-pos-<%= index %>">
              <%= link_to video.title, tutorial_path(id: video.tutorial_id, video_id: video.id) %><br>
            </section>
          <% end %>
        </section>
      <% end %>
  </section>

</section>
